[Service]
ExecStart=/usr/local/bin/fancontrol.sh start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
